@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

html,body{
	position:relative;
	height:100%;
}

body{
		margin:0px;
		padding:0px;
		font-family: 'Poppins', sans-serif;
		background-color:rgba(192,192,192,0.7);
		min-height: 350vh;


	}

ul{
	list-style: none;
}	

a{
	text-decoration: none;
}


nav{
	width: 100%;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
	z-index: 100;
}

.toggle{
	position: absolute;
	top:0;
	right: 10px;
	background:#e9f5ff;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;



}

.toggle:before{
	content: '\f186';
	font-family: fontAwesome;
	color: #2fa1ff;

}

section.dark .toggle:before{
	content: '\f185';

}

section.dark{
	background:#24292d;
	transition: background 0.5s;
}

section.dark{
	background: #323840; 
}

section.dark .menu li a{
	color: #ffffff;
}

section.dark .right-menu a{
	color: #ccc;
}

  
.full-slider-box{
	width:100%;
	height: 65vh;
    display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	animation: slider 25s infinite linear;
   }

   @keyframes slider{
   	35%{
   		background-image: url(feature_3.jpg);
   	}
   	70%{
   		background-image: url(feature_2.jpg);
   	}

   	105%{
   		background-image: url(feature_1.jpg);
   	}

   }

 .f-slide-1{
 	background-image: url(feature_3.jpg);

 }  

  

 .slider-text-container{
 	width:80%;
 	height: 90%;
 	display: flex;
 	align-items: center;

 }

 .f-slider-text{
 	display: flex;
 	flex-direction: column;
 	margin-right: auto;
 }

 .f-slider-text strong{
 	color: #333333;
 	font-size: 3rem;
 	line-height: 55px;
 	margin-top: 10px;
 	letter-spacing: 1px;

 } 

.f-slider-text span{
	text-transform: uppercase;
	letter-spacing: 6px;
	font-weight: 500;
	color: #666666;
	font-size: 1.2rem;

} 

.f-slider-btn{
	width: 170px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	background-color: #0b9d8a;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 14px;
	text-decoration: none;
}


.f-slider-text strong font{
	color: #0b9d8a;

}

.social-call{
	height: 40px;
	border: 1px solid rgba(0,0,0,0.05);
	display: flex;
	justify-content: center;
	text-align: center;
}

.social a{
	margin: 0 5px;
	color: rgba(0,0,0,0.7);
	font-size: 0.9rem;
}

.social a:hover{
	color: #0b9d8a;
	transition: all ease 0.3s;

}

.logo h2{
	display: flex;
	font-size: 2.5rem;

}

section.dark .navigation .logo .neon{
	color: #fe3a80;
	text-shadow: 0 0 30px #ff005b;

	

}




.menu{
	display: flex;
}

.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}

.menu li{
	position: relative;
	margin: 20px;
	display: flex;
	text-transform: uppercase;
	font-weight: 500;
}

.menu li a{
	margin: 0 10px;
	font-size: 1.0rem;
	color: rgba(0,0,0,0.7);
}

.menu a:hover,
.right-menu a:hover{
	color: #0b9d8a;
	transition: all ease 0.3s;


}
.sale-lable{
	width: 38px;
	height: 17px;
	background-color: #f76b6a;
	color: #ffffff;
	font-weight: 400;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 0.7rem;
	position: absolute;
	top: -20px;
	right: -20px;

}



.sale-lable:after{
	content: '';
	width: 0;
	height: 0;
	border-bottom: 5px solid transparent;
	border-left: 3px solid transparent;
	border-top: 7px solid #f76b6a;
	border-right: 5px solid transparent;
	position: absolute;
	left: 10%;
	top: 100%;


}

.rating{
	color: #FFA500;
}

.over{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 40px;
	width:100px;

}


.img-box:hover .over{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;

}

.fa-shopping-cart{
	position: relative;
}

.num-cart-product{
	position: absolute;
	top: -17px;
	right: -17px;
	width: 25px;
	height: 25px;
	font-size: 0.8rem;
	border-radius: 50%;
	background-color: #0b9d8a;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;

}

.search-bar{
	width: 100%;
	height: 300px;
	background-color: #ffffff;
	position: fixed;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
	z-index: 150;
}

.search-input{
	width: 90%;
	border-bottom: 2px solid #555555;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-top: 20px;

}

.search-bar input{
	width: 100%;
	padding: 30px;
	border: none;
	outline: none;
	font-size: 2rem;
	margin: 20px;
	padding: 0 20px;
}

.search-cancel{
	color: #272727;
	font-size: 2rem;
	padding-right: 40px;

}
.search-bar{
	display: none;
}

.search-bar-active{
	display: flex;
}

@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}



.navigation{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 45px;

}
.swiper-slide{
	width: 260px !important;
}	

.slider-box{
	margin: 20px;
	height: 350px;
	width: 250px;
	position: relative;
	background-color: #FFFFFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;


}

.slider-box a{
	text-decoration: none;
	text-align: center;
}

.img-box{
		height:170px;
	}

.img-box img{
	height:auto;
    max-width:100%;
	max-height:100%;

}	

.time{
	position:absolute;
	top:0px;
	right:20px;
	color:#ffffff;
	font-size: 15px;
	width: 38px;
	height: 17px;
	background-color: #f76b6a;
	font-weight: 400;
	justify-content: center;
	display: flex;
	font-size: 0.7rem;
	position: absolute;
	top: -20px;
	right: -20px;
}



.time:after{
	content: '';
	width: 0;
	height: 0;
	border-bottom: 8px solid transparent;
	border-left: 5px solid transparent;
	border-top: 7px solid #f76b6a;
	border-right: 3px solid transparent;
	position: absolute;
	left: 10%;
	top: 100%;


}

.time:before{
	content: '';
	width: 0;
	height: 0;
	border-bottom: 8px solid transparent;
	border-left: 5px solid transparent;
	border-top: 7px solid #f76b6a;
	border-right: 8px solid transparent;
	position: absolute;
	left: 10%;
	top: 100%;


}



.detail{
	display:flex;
    flex-direction:column;
	align-items:center;
	box-sizing: border-box;
	font-size:13px;
	line-height:35px;
}

.price{
color:#FFFFFF;
background-color:#ff555b;
line-height:20px;
width: 100px;
border-radius: 20px;

}

.cart{
	position:absolute;
	bottom:0px;
	height:45px;
    background-color:#ff696e;
	width:100%;
	display:flex;
	justify-content:center;
	align-items: center;
}

.cart a{
	 color:#FFFFFF;
}

.slider-box:hover{
	box-shadow:2px 2px 12px rgba(47,47,47,0.50);
}

.slider-box:hover .img-box img{
	transform:scale(1.12);
	transition:all ease 0.3s;
}

.cart:hover{
	 transform:scale(1.1);
	 background-color:#fe9048;
}

.rating:hover{
	 transform:scale(1.1);

}


.heading{
	display:flex;
	justify-content:center;
}
							
.heading h1{
border-left:2px solid #000000;
Border-right:2px solid #000000;
background-color:#f05656;
text-shadow:2px 2px 12px rgba(69,66,66,0.3);
padding:0px 10px;
color:#FFFFFF;
margin:20px;
font-size:30px;
font-family:calibri;
}


footer{
	position: relative;
	width: 100%;
	height: auto;
	background: #3044a5;

}

footer .cont{
	width: 100%;
	display: grid;
	grid-template-columns: 1.7fr 1fr 1fr 1.3fr;
	grid-gap: 20px;


}

footer .cont .sec h2{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 10px;
	left: 30px;

}

.change{
	font-size: 16px;

}	

footer .cont .sec h2::before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 60px;
	height: 2px;
	background:#ffeb3b;

}

footer .cont .sec p{
	color: #ffffff;
	padding-left: 20px;

}

.sci{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4,50px); 
	grid-gap: 10px;

}

.sci li{
	list-style: none;
}

.sci li a{
	display: inline-block;
	width: 48px;
	height: 48px;
	background: #3e56cb;
	display: grid;
	align-content: center;
	justify-content: center;
	text-decoration: none;
	border-radius: 4px;
}

.sci li a:hover{
	background:#6380fe;
}

.quicklinks li{
	list-style: none;

}

.quicklinks li a{
	color: #f7f7f7;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}


.quicklinks li a:hover{
	color: #ffeb3b;
}
.sci li a .fa{
	color: #fff;
	font-size: 20px;
}

.info{
	position: absolute;

}

.info li{
	display: grid;
	grid-template-columns: 30px 1fr;
	margin-bottom: 16px;

}


.info li span{
	color: #fff;

}

.info li span:nth-child(1){
	color: #fff;
	font-size: 20px;
}

.info a{
	color: #f7f7f7;
	text-decoration: none;
}

.info a:hover{
	color: #ffeb3b;
}

.copyright{
	width: 100%;
	background: #1f3389;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	color: #fff;
	}

.service{
	display: flex;
	width: 90%;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;
	padding-bottom: 20px;

}


.service-box{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0,0,0,0.1);
	min-width: 250px;
	min-height: 150px;
	padding: 20px;
	margin: 15px;
	flex-grow: 0.7;

}

.service-box img{
	display: flex;
	max-width: 120px;
	max-height: 120px;
	filter: grayscale(100%);
}

.service-box span{
	color: #222222;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-size: 1rem;


}

.service-box p{
	color: #878787;
	margin: 0;
	font-size: 0.9rem;

}

section.dark .service-box {
	background-color: #fff;
}



					






